# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# Jupyter
.ipynb_checkpoints/

# Model files
*.pt
*.pth

# Data
data/raw/
data/processed/

# Environment
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log