# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# ECG Datasets
# =========================
ml/data/raw/
ml/data/processed/
ml/data/sample/

# =========================
# Trained Models
# =========================
ml/saved_models/
*.pt
*.pth
*.onnx
*.h5
*.keras
*.joblib
*.pkl

# =========================
# Experiment Outputs
# =========================
ml/experiments/

# =========================
# Logs
# =========================
*.log

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Operating System
# =========================
.DS_Store
Thumbs.db

# =========================
# Others
# =========================
docs/